<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.email %>!</h1>
    <p>If you encounter any issues with the app please contact me under s0558010@htw-berlin.de</p>
  </body>
</html>
