<%= form_with(model: room_event, local: true) do |form| %>
  <% if room_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room_event.errors.count, "error") %> prohibited this room_event from being saved:</h2>

      <ul>
        <% room_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



<div class="field">
    <%= form.label t('Date') %>
    <%= form.date_field :day %>
</div>

  <div class="field">
    <%= form.label t('start') %>
    <%= form.time_field :start %>
  </div>

<div class="field">
    <%= form.label t('end') %>
    <%= form.time_field :end %>
  </div>


  <div class="field">
    <%= form.label t('description') %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :frequency, value: "Once" %>
    <%= form.hidden_field :interval, value: 0 %>
    <%= form.hidden_field :special_form, value: true %>
    <% if params[:room_id].present? %>
      <%= form.hidden_field :room_id, value: params[:room_id] %>
    <% else %>
      <%= form.hidden_field :room_id, value: @room_event.room_id %>
    <% end %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
