
<h1><%=t('title_user')%></h1>
<table>
  <thead>
    <tr>
      <th><%=t('day')%></th>
      <th><%=t('start')%></th>
      <th><%=t('end')%></th>
      <th><%=t('description')%></th>
      <th><%=t('room')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user = User.where("email = ?", "admin@lsfraumsucher.htw").first %>
    <% @room_events.where.not(:user_id => @user.id).each do |room_event| %>
      <tr>
        <td>
                <% if room_event.frequency == "WEEKLY" || room_event.frequency == "Once" %>
                        <%= t(Date::DAYNAMES[Time.parse(room_event.start).wday].downcase) %>
                <% else %>
                        <% if room_event.frequency =="" %>
                                <%= t(Date::DAYNAMES[Time.parse(room_event.start).wday].downcase) %>
                        <% else %>
                                <%= t('room.events.'+room_event.frequency) %>
                        <% end %>
                <% end %>
        </td>
        <td><%= Time.parse(room_event.start).strftime("%H:%M") %></td>
        <td><%= Time.parse(room_event.end).strftime("%H:%M") %></td>
        <td><%= room_event.description %></td>
        <td><%= link_to room_event.room.campus + " " + room_event.room.building + " " + room_event.room.roomnr,  room_event.room %> </td>
        <td><%= link_to t('show'), room_event %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1><%= t('title_htw') %></h1>
<table>
  <thead>
    <tr>	
      <th><%=t('day')%></th>
      <th><%=t('start')%></th>
      <th><%=t('end')%></th>
      <th><%=t('description')%></th>
      <th><%=t('room')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @room_events.where(:user_id => @user.id).each do |room_event| %>
      <tr>
        <td>
                <% if room_event.frequency == "WEEKLY" || room_event.frequency == "Once" %>
                        <%= t(Date::DAYNAMES[Time.parse(room_event.start).wday].downcase) %>
                <% else %>
                        <% if room_event.frequency =="" %>
                                <%= t(Date::DAYNAMES[Time.parse(room_event.start).wday].downcase) %>
                        <% else %>
                                <%= t('room.events.'+room_event.frequency) %>
                        <% end %>
                <% end %>
        </td>
        <td><%= Time.parse(room_event.start).strftime("%H:%M") %></td>
        <td><%= Time.parse(room_event.end).strftime("%H:%M") %></td>
        <td><%= room_event.description %></td>
        <td><%= link_to room_event.room.campus + " " + room_event.room.building + " " + room_event.room.roomnr,  room_event.room %> </td>
        <td><%= link_to t('show'), room_event %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
