
<p>
  <strong><%=t('day')%>:</strong>
  <% if @room_event.frequency == "WEEKLY" || @room_event.frequency == "Once" %>
    <%= t(Date::DAYNAMES[Time.parse(@room_event.start).wday].downcase) %>
  <% else %>
    <% if @room_event.frequency =="" %>
      <%= t(Date::DAYNAMES[Time.parse(@room_event.start).wday].downcase) %>
    <% else %>
      <%= t('Mo-Fr') %>
    <% end %>
  <% end %>
</p>

<p>
  <strong><%=t('Date')%>:</strong>
  <%= Time.parse(@room_event.start).strftime("%d-%b-%Y")  %>
</p>

<p>
  <strong><%=t('start')%>:</strong>
  <%= Time.parse(@room_event.start).strftime("%H:%M")  %>
</p>

<p>
  <strong><%=t('end')%>:</strong>
  <%= Time.parse(@room_event.end).strftime("%H:%M")  %>
</p>

<p>
  <strong><%=t('description')%>:</strong>
  <%= @room_event.description %>
</p>

<p>
  <strong><%=t('room')%>:</strong>
  <%= @room_event.room.campus %> <%= @room_event.room.building %> <%= @room_event.room.roomnr %>
</p>

<p>
  <strong><%=t('user')%>:</strong>
  <%= @room_event.user.email %>
</p>

<% if !current_user.nil? && @room_event.user.id == current_user.id %>
  <%= link_to t('edit'), edit_room_event_path(@room_event) %> 
  <%= link_to t('delete'), room_event_path(@room_event), :confirm => "Are you sure?", :method => :delete %>
<% end %>
<%= link_to t('back'), room_events_path %>
