<h1><%= t('.listing_rooms') %></h1>


<%= form_tag rooms_path, :method => 'get', :id => "rooms_search" do %>
  <p>
    <div id="room_type_div">
      <%= label(:room, :roomtype, t('.room_type')) %>
      <%= text_field_tag :roomtype, params[:roomtype] %>
    </div>
    <div id="campus_div">
      <label for="campus"><%= t('.campus') %></label>
      <%= select_tag "campus", options_for_select(["WH", "TA", "PBH", "TGS"], :selected => params[:campus]), include_blank: "All"%>
    </div>
    <% dayOfWeek = [ t('.monday'), t('.tuesday'), t('.wednesday'), t('.thursday'), t('.friday')] %>
    <% wday = Date.today.wday %>
    <% if wday == 0 || wday == 6 %>
	<% wday = 0 %>
    <% else %>
	<% wday = wday-1 %> 
    <% end %>
    <div id="day_div">
      <label for="day"><%= t('.day_of_week') %></label>
      <%= select_tag "day", options_for_select(dayOfWeek, :selected => params[:day]) %>
    </div>
    <div id="startime_div">
      <label for="startime"><%= t('.start') %></label>
      <%= time_field_tag "starttime", nil, value: params[:starttime], min: '06:00', max:'21:30' %>
    </div>
    <div id="endtime_div">
      <label for="endtime"><%= t('.end') %></label>
      <%= time_field_tag "endtime", nil, value: params[:endtime], min: '06:30', max:'22:00' %>
    </div>
      <% if params.has_key?(:locale) %>
        <%= hidden_field_tag "locale", nil, value: params[:locale] %>
      <% else %>
        <% hidden_field_tag "locale", nil, value: 'en' %>
      <% end %>
    <%= submit_tag t('.search'), :name => nil %>
  </p>
<% end %>
 
<table>
  <tr>
    <th><%= t('.room_type') %></th>
    <th><%= t('.room') %></th>
    <th><%= t('.building') %></th>
    <th><%= t('.campus') %></th>
  </tr>
  <% @rooms.each do |room| %>
    <tr>
      <td><%= room.roomtype %></td>
      <td><%= room.roomnr %></td>
      <td><%= room.building %></td>
      <td><%= room.campus %></td>
      <td><%= link_to t('.show'), room_path(room) %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @rooms %>
