<%= stylesheet_link_tag "rooms" %>
<p>
  <strong><%= t('room_type') %>:</strong>
  <%= @room.roomtype %>
</p>
<p>
  <strong><%= t('room') %>:</strong>
  <%= @room.roomnr %>
</p>
<p>
  <strong><%= t('building') %>:</strong>
  <%= @room.building %>
</p>
<p>
  <strong><%= t('campus') %>:</strong>
  <%= @room.campus %>
</p>

<h1><%= t('room_events') %></h1>
<table>
  <thead>
    <tr>
      <th><%= t('day') %></th>
      <th><%= t('start') %></th>
      <th><%= t('end') %></th>
      <th><%= t('description') %></th>
      <th><%= t('room') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @room_events.each do |room_event| %>
      <tr>
        <td>
		<% if room_event.frequency == "WEEKLY" || room_event.frequency == "Once" %>
                        <%= t(Date::DAYNAMES[Time.parse(room_event.start).wday].downcase) %>
                <% else %>
                        <% if room_event.frequency =="" %>
                                <%= t(Date::DAYNAMES[Time.parse(room_event.start).wday].downcase) %>
                        <% else %>
                                <%= t('Mo_Fr') %>
                        <% end %>
                <% end %>
        </td>
        <td><%= Time.parse(room_event.start).strftime("%H:%M") %></td>
        <td><%= Time.parse(room_event.end).strftime("%H:%M") %></td>
        <td><%= room_event.description %></td>
        <td><%= room_event.room.campus %> <%= room_event.room.building %> <%= room_event.room.roomnr %>
        <td><%= link_to t('show'), room_event %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<td><%= link_to t('new_room_event'), new_room_room_event_path(:room_id => @room.id) %></td>

